* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
  -webkit-app-region: drag;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  padding: 1rem 1.0625rem;

  background-image: linear-gradient(90deg, #C7F3FB 0%, #D2AFE4 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#title {
  background: linear-gradient(to right, #0000ff, #6b0dae, #ee82ee, #C079FF, #81bfe6);
  background-size: 400% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 7s linear infinite;

  font-family: "PixelySans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#song-title {
  display: flex;
  width: auto;
  aspect-ratio: 157/27;
  padding: 0.25rem 0.625rem;
  justify-content: center;
  align-items: center;

  border-radius: 5rem;
  border: thin 1px #C079FF;
  background: rgba(210, 164, 255, 0.40);

  color: var(--white, #FFF);
    /* calendario titolo con nome */
  font-family: "PixelySans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#song-image-img {
  border-radius: 1rem;
}

.inner-container {
  border-radius: 5rem;
  border: 1.5px solid #a547f8;
  background: rgb(230, 191, 255);
  width: auto;
}

@font-face {
  font-family: "PixelySans";
  src: url("assets/PixelifySans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@keyframes rainbow_animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}